
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
    width: 97%;
    margin-left: 100px;
    top : -10px;
    margin-right: -4.2%;
}
#twitterBar{
     position: absolute;
     height: 97=%;
     left: 10px;
     top: 205px;
     display: none;
}
#newsBar{
      position: absolute;
     height: 97=%;
     left: 10px;
     width: 20px;
     top: 170px;
     display: none;
}
#newsButton{
     position: absolute;
     height: 40px;
     margin-left: 15px;
     margin-bottom: 15px;
     left: 0px;
     width: 40px;
     padding: 5px;
     top: 135px;
     background: #4A4A4A;
}
#rssFeed{
     margin: 20px;
     display: inline;
     position: absolute;
     margin-top: 0px;
}
#twitterButton{
      position: absolute;
     height: 40px;
     margin-left: 15px;
     left: 0px;
     width: 40px;
     padding: 5px;
     top: 170px;
     background: #4A4A4A;
}
.twitter-timeline{
     margin: 20px;
     position: static;
     display: inline;
}
#mapSearch{
  position: absolute;
  top: 160px;
  left: 10%;
  height: 20px;
  padding: 15px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 87.75%;
    width: 82%;
    margin: 0;
    padding: 0;
}
