
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
    width: 97%;
    margin-left: 100px;
    top : -10px;
    margin-right: -4.2%;
}
#rssFeed{
     margin: 20px;
     display: inline;
     position: absolute;
     margin-top: 0px;
}

.twitter-timeline{
     margin: 20px;
     position: static;
     display: inline;
}
#mapSearch{
  position: absolute;
  top: 160px;
  left: 10%;
  height: 20px;
  padding: 15px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 91.75%;
    width: 82%;
    margin: 0;
    padding: 0;
}
